div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

div img{
	width: 400px;
	height: 300px;
	border: 2px solid #ff3d0036;
	border-radius: 4px 7px 7px 0px #00000042;
	cursor: pointer;
	margin: 10px;
	transition: 400ms;
	filter: grayscale(1);
}

div img:hover{
	filter:none;

	width: 500px;
	height: 400px;
	transform: 1.03s;
}
body{
	background-color: black;
}